* {
    box-sizing: border-box;
    background-color: #31333c;
  }
  body {
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
  }
  
  .chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  h1 {
    color: #fff;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    margin: 10px;
    text-shadow: #ffffffa3 0px 0px 10px;
  }
  h2 {
    color: #28d2fd;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0;
    text-shadow: #ffffffa3 0px 0px 10px;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #1a1b22; */
    padding: 15px;
    margin: 0;
    width: 100%;
  }
  
  .nav a {
    color: #fff;
    background-color: #1a1b22;
    text-decoration: none;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0px 10px;
    padding: 5px 20px;
    border-radius: 5px;
  }
  
  .nav a:hover {
    background-color: #28d2fd;
    transition: all 0.2s ease;
    color: #1a1b22;
  }
  
  .hidden {
    display:none;
  }

  #statsFilterDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 2rem;
    color: #fff;
    flex-wrap: wrap;
  }

  #statsFilterDiv select{
    background-color: #1a1b22;
    color: #fff;
    border: none;
    padding: 5px;
    font-size: 1rem;
    margin: 0 15px;
    border-radius: 5px;
    cursor: pointer;
  }

#albumsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .album-cover {
    width: 200px;
    height: auto;
    margin: 10px;
  }

  @media(max-width: 600px) {
    #albumsDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
      }
  }
  
  
  @media only screen and (max-width: 768px) {
    #albumsDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
      }
      #statsFilterDiv {
        font-size: 1rem;
      }
      #statsFilterDiv select{
        font-size: 0.8rem;
      }
      .nav a {
        font-size: 1rem;
        padding: 5px 10px;
      }
  }
